openapi: 3.0.3
info:
  title: Prayog Serviceability API
  description: API for managing service area coverage, delivery options, and order types
  version: 1.0.0
  contact:
    email: api@prayog.com
servers:
  - url: 'https://api.prayog.com/serviceability'
    description: Production server
  - url: 'https://api.staging.prayog.com/serviceability'
    description: Staging server
  - url: 'http://localhost:8080'
    description: Local development

tags:
  - name: countries
    description: Country management
  - name: regions
    description: Administrative region management
  - name: cities
    description: City management
  - name: areas
    description: Area/neighborhood management
  - name: postal-codes
    description: Postal/ZIP code management
  - name: order-types
    description: Order types supported by regions
  - name: service-types
    description: Service types available in different areas
  - name: serviceability
    description: Check serviceability for locations

paths:
  /health:
    get:
      summary: Check API health
      description: Returns the status of the API and its dependencies
      operationId: getHealth
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '500':
          description: API is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/countries:
    get:
      tags:
        - countries
      summary: List all countries
      operationId: listCountries
      responses:
        '200':
          description: Successfully retrieved countries
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Country'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - countries
      summary: Create a new country
      operationId: createCountry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountryInput'
      responses:
        '201':
          description: Country created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    $ref: '#/components/schemas/Country'
        '400':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/v1/countries/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - countries
      summary: Get country by ID
      operationId: getCountryById
      responses:
        '200':
          description: Successfully retrieved country
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    $ref: '#/components/schemas/Country'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    put:
      tags:
        - countries
      summary: Update country
      operationId: updateCountry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountryInput'
      responses:
        '200':
          description: Country updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    $ref: '#/components/schemas/Country'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
        - countries
      summary: Delete country
      operationId: deleteCountry
      responses:
        '200':
          description: Country deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  data:
                    type: object
                    properties:
                      message:
                        type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [success]
        data:
          type: object
          properties:
            status:
              type: string
              enum: [up, degraded, down]
            version:
              type: string
            timestamp:
              type: string
              format: date-time
            dependencies:
              type: object
              additionalProperties:
                type: string
                enum: [up, down]

    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          enum: [error]
        message:
          type: string
        code:
          type: string

    Country:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        code:
          type: string
          description: ISO country code
        active:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CountryInput:
      type: object
      required:
        - name
        - code
      properties:
        name:
          type: string
          minLength: 1
        code:
          type: string
          minLength: 2
          maxLength: 3
          description: ISO country code
        active:
          type: boolean
          default: true

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum: [error]
              message:
                type: string
              code:
                type: string
                enum: [validation_error]

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum: [error]
              message:
                type: string
              code:
                type: string
                enum: [not_found]

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum: [error]
              message:
                type: string
              code:
                type: string
                enum: [internal_error] 